.container {
    background-color: #364fc7;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    width: 80rem;
    text-align: center;
    position: relative;
    top: 55%;
    transform: translateY(-50%);
}

.text {
    font-size: 3.6rem;
    color: red;
}

.link {
    text-decoration: none;
    font-size: 2.4rem;
}

.loading {
    position: relative;
    top: 50%;
    margin: 0 auto;
    height: 10rem;
    width: 10rem;
    transform: translateY(-50%);
    background-image: url("../../gifs/1479.gif");
    background-size: cover;
}