.contact {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: #162050;
    border-radius: 1rem;
}

.contact:hover {
    cursor: pointer;
    background-color: #10183b;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.picture {
    min-width: 5rem;
    min-height: 5rem;
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 50%;
    background-image: url("https://i.ebayimg.com/images/g/btEAAOSwo6lWIMY-/s-l1600.jpg");
    background-size: cover;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timestamp {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.message {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.lastMessage {
    font-size: 1.4rem;
    display: inline-block;
    max-width: 20rem;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-align: left;
}

.sendIcon {
    transform: translateY(25%);
    font-size: 1.4rem;
}

.newMessage {
    margin-left: auto;
    background-color: green;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

